<h1>Login:</h1>
<form [formGroup] = "formGroup">
  <div>Email:</div>
  <input type="text"
    [formControl] = "formGroup.controls.email">
  <div>Password:</div>
  <input type="password"
    [formControl] = "formGroup.controls.password">
  <div></div>
  <button (click)="login()" *ngIf="!isLoggedIn()">Login</button>
  <button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
</form>
<div *ngIf="!validEmail">
  Email has invalid format
</div>
<div *ngIf="!validPassword">
  Password has invalid format: at least 8 characters, at least one capital letter
</div>
<div *ngIf="isLoggedIn()">
  You are logged in
</div>
